<div class="detalhe-consulta">
	<h3>{{consulta.medico.nome}}</h3>
    <span class="span-small left-offset">{{consulta.medico.crm}}</span>
    <div class="top-line-separator layout-short-padding">
        <div class="description-item">{{genero(consulta.medico.sexo)}}</div>
        <div class="description-item">{{idade(consulta.medico.dtNascimento)}} anos</div>
        <div class="description-item">{{consulta.medico.email}}</div>
        <div class="description-item" ng-if="consulta.assunto">Assunto: {{consulta.assunto}}</div>
    </div>
    <div class="sub-container">
        <h4>Especialidade</h4>
        <h5>{{consulta.medico.especialidade.especialidade}}</h5>
        <p>
            {{consulta.medico.especialidade.descricao}}
        </p>
    </div>
    <div class="button-container">
        <button ng-click="voltar()">Voltar</button>
        <button ng-click="showModal()" class="main" ng-if="!consulta.assunto && !consulta.idConsulta">Iniciar Consulta</button>
        <button ng-click="novaConsulta()" class="main" ng-if="consulta.assunto && !consulta.idConsulta">Confirmar</button>
        <button ng-click="irChat()" class="main" ng-if="consulta.idConsulta">Chat</button>
    </div>
</div>
<div class="detalhe-consulta" ng-repeat="diagnostico in consulta.diagnostico">
    <h3>Diagnóstico</h3>
    <div class="description-item top-line-separator">Resultado: {{diagnostico.resultado}}</div>
    <div class="description-item">Observações: {{diagnostico.descricao}}</div>
    <div class="content-padding receitas" style="padding-top: 1px;">
        <h4>Receitas</h4>
        <ul>
            <li ng-repeat="receita in diagnostico.receita">
                {{receita.descricao}}
            </li>
        </ul>
    </div>
</div>
<div id="modalConfirmacao" class="hidden">
    <div class="absolute-center modal-container">
        <label>Assunto da Consulta:</label>
        <input type="text" ng-model="assuntoModal">
        <div class="button-container">
            <button ng-click="fecharModal()">Cancelar</button>
            <button ng-click="confirmarModal()" class="main">Confirmar</button>
        </div>
    </div>
</div>