* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#splash-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    z-index: 5;
    animation-name: fade-out;
    animation-duration: 5s;
    opacity: 0;
}

#splash-screen .logo {
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 0;
    padding: 0;
    animation-name: logo-movement;
    animation-duration: 5s;
}

@keyframes logo-movement {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    30% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    70% {
        top: 10px;
        left: 20px;
        transform: translate(0, 0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 3;
    }
    70%{
        opacity: 1;
        z-index: 3;
    }
    100%{
        opacity: 0;
        z-index: 3;
    }
}

#header {
    padding: 10px 20px;
    border-bottom: 1px solid #CCC;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    background-color: #FFF;
}

#header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    background-color: #F90;
    text-transform: uppercase;
    padding: 5px 10px;
    border: none;
}

.logo {
    margin: 0;
    padding: 0;
    color: #222;
    position: relative;
    display: inline-block;
}

.logo span {
    color: red;
}

.logo:after {
    box-sizing: border-box;
    content: "+";
    color: #FFF;
    background-color: red;
    padding: 0 0 0 5.5px;
    line-height: 29px;
    height: 29px;
    width: 29px;
    display: block;
    position: absolute;
    right: -35px;
    top: 3px;
    border-radius: 100%;
}

#body {
    padding-top: 60px;
    padding-bottom: 140px;
}

#navigation {
    height: 60px;
    background-color: #EEE;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#navigation ul {
    padding: 0;
    margin: 0;
}

#navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    width: calc(100% / 3);
    margin-right: -5px;
    text-align: center;
    height: 60px;
    color: #FFF;
}

#navigation.half ul li {
    width: calc(100% / 2);
}

#navigation ul li a {
    color: #333;
    text-decoration: none;
    height: 60px;
    display: block;
    width: 100%;
    padding: 20px 0;
    border-left: 1px solid #999;
    cursor: pointer;
    transition: all 0.3s;
}

#navigation ul li a:hover {
    background-color: #f90;
    color: #FFF;
}

.content-padding {
    padding: 20px;
}

.receitas {
    background-color: #DDD;
    margin-top: 20px;
}

.receitas .button-container {
    border-bottom: 1px solid #BBB;
    padding-bottom: 10px;
}

.receitas ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;
}

.receitas ul li {
    padding: 10px;
    background-color: #CCC;
    margin-bottom: 5px;
}

.consulta-item {
    background-color: #EEE;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.consulta-item h4, h5 {
    padding: 0;
    margin: 0;
}

.consulta-item h4 {
    color: #333;
}

.consulta-item h5 {
    color: #555;
    font-weight: lighter;
}

.consulta-item span {
    font-size: 12px;
    color: #777;
}

.consulta-item img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.message {
    position: relative;
    margin-bottom: 10px;
    clear: both;
}

.message img {
    position: absolute;
    left: 0;
    top: 5px;
}

.message .content {
    background-color: #DDD;
    display: inline-block;
    width: auto;
    padding: 10px 15px 5px 10px;
    border-radius: 5px;
    position: relative;
}

.message .content p {
    margin: 0;
    padding: 0;
}

.message .content div {
    color: #555;
    font-size: 12px;
    margin-top: 5px;
    border-top: 1px solid #999;
    padding-top: 5px;
}

.message .content span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 10px), -50%);
    color: #999;
}

.message.owner {
    float: right;
}

.message.owner .content {
    background-color: #f5f5f5;
    margin-left: 80px;
}

.message.owner .content div {
    border-top: 1px solid #CCC;
}

#medic-profile {
    position: fixed;
    height: 59px;
    width: 100%;
    background-color: #FFF;
    top: 0;
    z-index: 2;
}

#medic-profile img {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 100%;
}

#medic-profile h3 {
    display: block;
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 18px;
    color: #444;
}

#toolbar {
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

#toolbar button {
    color: #FFF;
    background-color: #777;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s;
    border: none;
}

#toolbar button:hover {
    background-color: #999;
}

[ng-click]{
    cursor: pointer;
}

#chat {
    padding-bottom: 165px;
    height: 100vh;
}

.clear {
    clear: both;
}

#login {
    width: 100%;
    padding: 20px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

input:not([type=radio]):not([type=checkbox]),
textarea{
    width: 100%;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    background-color: #EEE;
    color: #333;
}

textarea {
    max-height: 150px;
    min-height: 75px;
}

select {
    padding: 10px;
    color: #555;
    background-color: #DDD;
    border: 1px solid #555;
    display: block;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance: none;
}

#login input[type=button]{
    background-color: #2196F3;
    color: #FFF;
    margin-top: 35px;
    font-weight: lighter;
    text-transform: uppercase;
}

#login input[type=button] + input[type=button]{
    margin-top: 15px;
}

img.logo {
    height: 100px;
    margin-top: -30px;
}

#login .logo {
    height: 200px;
    display: block;
    margin: 50px auto;
    margin-bottom: -30px;
}

#login > div {
    margin-bottom: 5px;
    margin-top: 35px;
    position: relative;
}

#login > div label {
    color: #333;
    position: absolute;
    top: 50%;
    left: 30px;
    transition: all 0.5s;
    transform: translateY(-50%);
}

#login > div > input:focus + label,
#login > div > input:valid + label {
    top: -25px;
    left: 10px;
    transform: translateY(0);
}


.bloco-input{
    margin: 10px;
}

.label-padrao{
    margin: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#primeira-label{
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

.botao-azul{
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    float: right;
    border: none;
}

.error {
    color: red;
    font-size: 12px;
    padding: 5px 20px;
}

[disabled] {
    opacity: 0.7;
}

.medicos {
    margin-top: 20px;
}

.medicos .medico {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #EEE;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.medicos .medico:hover {
    background-color: #F90;
}

.medicos .medico .cancelada {
    color: red;
}

.medicos .medico:hover span {
    color: #FFF;
}

.medicos .medico:hover h5 {
    color: #DDD;
}

.medicos .medico h4,
.medicos .medico h5 {
    padding: 0;
    margin: 0;
}

.medicos .medico h4 {
    color: #333;
}

.medicos .medico h4 span {
    color: #f90;
    font-weight: lighter;
    font-size: 14px;
}

.medicos .medico h5 {
    color: #777;
}

.medicos .medico > span {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 14px;
    color: #555;
    transform: translateY(-50%);
}

.detalhe-consulta {
    background-color: #EEE;
    margin: 20px;
    padding: 20px;
}

.detalhe-consulta h3,
.detalhe-consulta h4,
.detalhe-consulta h5 {
    margin: 0;
    padding: 0;
}

.detalhe-consulta p {
    margin: 0;
    padding: 0;
    color: #555;
}

.detalhe-consulta .description-item {
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
}

.detalhe-consulta .span-small {
    margin-bottom: 10px;
}

.detalhe-consulta .sub-container h4 {
    color: #111;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.detalhe-consulta .sub-container h5 {
    color: #333;
    padding-top: 10px;
}

.detalhe-consulta .sub-container p {
    font-size: 14px;
}

.detalhe-consulta p:first-letter {
    margin-left: 15px;
}

.left-offset {
    padding-left: 15px;
}

.sub-container {
    margin: 10;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
}

.span-small {
    color: #777;
    font-size: 14px;
}

.top-line-separator {
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.layout-short-padding {
    padding: 10px;
}

.button-container {
    margin-top: 20px;
    text-align: right;
}

.button-container button {
    color: #FFF;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    font-size: 14px;
    font-weight: lighter;
    background-color: #777;
    margin-right: 10px;
}

.button-container button.main {
    background-color: #F90;
}

.modal {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.modal .header {
    padding: 10px 20px;
    color: #FFF;
    background-color: #333;
    margin: -20px;
    margin-bottom: 20px;
}

.modal-container {
    min-width: 600px;
    background-color: #FFFFFF;
    padding: 20px;
    max-height: 600px;
    overflow: auto;
}

.modal-container table {
    width: 100%;
    background-color: #DDD;
    border-collapse: collapse;
}

.modal-container table th {
    padding: 10px;
    color: #FFF;
    background-color: #555;
    border-right: 1px solid #333;
}

.modal-container table td {
    padding: 10px;
    border: 1px solid #BBB;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

#message-field {
    background-color: #DDD;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 10px;
}

#message-field textarea {
    border-radius: 10px;
    border: 1px solid #CCC;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    transition: all 0.5s;
}

#message-field textarea:focus {
    height: 100px;
}

#message-field .button-container {
    margin: 0;
}

#message-field .button-container button {
    border-radius: 10px;
}